@media (max-width:800px){
  .contact-card img{
    width:12%;
  }
  .footer{
    padding:30% 0;
    flex-direction: column;
  }
  .contact-card,.location-card{
    margin-bottom:10%;
  }

}
.footer a{
  color:#fff;
  text-decoration: none;
}
.footer{
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items:center; 
  backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(20, 20, 20, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.contact-card{
  font-size: 1.1rem;
  display:flex;
  flex-direction: column;
  justify-content:center;
}
.contact-card img{
  width:10%;
  margin:2%
}
.mail{
  display: flex;
  align-items: center;
}
.profile a{
  color:#888;
}
.profile div{
  color:#888;
  display: flex;
  align-items: center;
}
.location-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2%;
  
}
.map{
  height:300px;
  width:auto;
  border-radius: 25px;
}
.address{
  text-align: center;
}
.address span{
  font-size: 1.5rem;
  font-weight: 700;
}
.lync{
  display: flex;
  flex-direction: column;
}
.social-handles{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.social-handles img{
  width:50px;
  margin:20%;
}
.sairam img{
  width:50px;
}
.sairam{
  display:flex;
  justify-content: space-between;
}
