@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');
* {
  /* outline:1px solid lime; */
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #FF3131;
}
a{
  text-decoration: none;
  color:#fff;
}
body {
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
  background: #000;
  overflow-x: hidden;

}
p{
  margin:3%;
}
@media (max-width:450px) {
  body {
      overflow-x: hidden!important;
  }
  img{
    width:100%;
  }
  .sponsors{
    align-items: center;
    flex-direction: column;
  }
  .phase{
    flex-direction: column;
  }
  .phase-2,.phase-4{
    flex-direction: column-reverse;
  }
  .phase-img{ 
    transform: scale(0.7);
  }
  
}
schedule, sponsors{
  margin:12% 0;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items:center;
  overflow-x: hidden;
}
.sub-title{
  margin-top:5%;
  text-align: center;
  color:#bdbdbd;
  font-family: 'Montserrat', sans-serif;
}
.phase,.phase-2,.phase-4{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding:2%;
  width:90vw;
  color:white;
  border-bottom: 1px solid grey;
}

/* .phase > div{
  width:100%;
} */
.phase-id{
  font-weight: 800;
  font-size: 2rem;
  color:#A78BFA;
  font-family: 'Montserrat', sans-serif;
}
.phase-name{
  font-size: 1.7rem;
  font-weight:700;
}
.phase-img{
  width:500px;
  height:300px;
}
.phase-text{
  width:200px;
  display:flex;
  flex-direction: column;
  align-items:center;
}
.phase-deadline{
  color:#888;
}
.sponsors{
  width:100vw;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:0% 5%;
}
.sponsor-card{
  display: flex;
  align-items: center;
  justify-content: center;
  height:200px;
  width:200px;
  border-radius:10px;
  margin-bottom:6%;
  outline: 1px solid white;
  box-shadow: 0 0 10px red;
  background-color: rgb(29,29,29,0.5);
  transition: transform 0.3s;
}
.sponsor-card:hover{
  transform: scale(1.1);
  box-shadow: 0 0 30px red;
}
.sponsor-logo{
  width:80%;
}
