@media (min-width:800px) {
  main {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    padding: 0; 
  }
  main span{
    color:white;
    display:none;
  }
  .carousel-container{
    display:grid;
  }
  #carousel {
    position: relative;
    margin:5%;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);

  }
  #carousel div {
    position: absolute;
    transition: transform 0.3s, left 0.3s, opacity 0.3s, z-index 0s;
    opacity: 1; 
  }
  .domain-card{
    background:#f8d3d6;
    border-radius: 30px;
    width: 450px;
    transition: width 0.3s; 
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%); 
  }
  #carousel div.hideLeft img {
      width: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
      width: 200px; 
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
      width: 300px; 
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7; 
  }
  #carousel div.prevLeftSecond img {
      width: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%); 
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%); 
  }
  #carousel div.next img {
    width: 300px; 
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7; 
  }
  #carousel div.nextRightSecond img {
      width: 200px; 
  }
  
  .button1,.button2{
    display: flex;
    align-items: center;
    border:none;
  }
  .button1,.button2{
    justify-content: center;
  }
  #prev,#next{
    background: #000;
    border:none;
    transition: scale 0.3s;
  }
  #prev:active{
    transform: scale(1.2);
  }
  #next:active{
    transform: scale(1.2);
  }
  #domain-name{
    padding:10%;
    font-size: 1.5rem;
    color:white;
    margin:auto;
  }  
}
@media (max-width:800px){
  .button1,.button2{
    display: none;
  }
  .prevLeftSecond,.next,.prev,.selected,.nextRightSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:8%;
  }
  main span{
    color:white;
  }
  .domain-card{
    width:250px;
    background: #888;
    border-radius: 25%;
  }
  main a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
