/* center img{
  padding-top:12%;
} */
center{
  margin-top: -2%;
  padding:5%;
}
center span{
  display: block;
  margin-bottom: 5%;
  color:#e53935;
  font-size: 1.5rem;
}

.join-build-learn{
  color:#e53935;
}
.join-build-learn span{
  display: inline;
  color:#e8dede
}
.desc span{
  font-size: 2rem;
  display: inline;
  margin:0;
}

.desc{
  padding:0% 10%;
  margin-bottom:1%;
  font-size: 1.75rem;
  color:#e8dede;
  font-weight: 700;
}
#particles-js{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-9999;
}
.page-button{
  font-size: 1.4rem;
  color: #eeeeee;
  transition: background-color 0.3s;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  padding: .75rem 1.25rem;
  border-radius: 12px;
  outline: 1px solid #FF3131;
  /* margin-top: 20px; */
  /* margin-bottom: 70px; */
}

.page-button:hover{
  color: white;
  background-color: #FF3131;
  transform: scale(1.2);
  box-shadow: 0 0 15px #FF3131;
}
.glitch{
  margin-top: 20%;
}